
<% if current_user %>

  <% @timelines.each do |timeline| %>
    <div class="entrie">
      <div class="story">
        <div class="story-head">
          Created by <span><%= timeline.user.name %></span> on <%= timeline.created_at.in_time_zone('Lima').strftime("%d-%m-%Y a las %H:%M")%>
        </div>
        <div class="story-title">
          <a href="<%= timeline_path(timeline) %>"><h1><%= timeline.title %></h1></a>
        </div>
        <div class="story-content">
          <%= truncate(timeline.content, length: 300) {link_to 'Read more', timeline_path(timeline)} %>
        </div>
      </div>
      <div class="input-comment">
        <%= render 'comments/form_comment', comment: Comment.new(timeline: timeline) %>
      </div>
      <% timeline.comments.each do |comment| %>
      <div class="comment-entrie">
        <div class="comment-head">
          <%= comment.user.name %> <span> - <%= comment.created_at.in_time_zone('Lima').strftime("%d-%m-%Y a las %H:%M")%> - </span><%= link_to 'Borrar', timeline_comment_path(timeline, comment), method: :delete %>
        </div>
        <div class="comment-content">
          <%= comment.comment_content %>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>

<% else %>

  <div class="login-container">
    <div class="login-content">
      <h1>Hey, hola!</h1>
      <%= link_to "Logueate con tu cuenta de Facebook!", "/auth/facebook" %>
    </div>
  </div>

<% end %>
