<p id="notice"><%= notice %></p>

<div class="entrie">
  <div class="story">
    <div class="story-head" style="font-size:16px; color:#333;">
      Created by <span><%= @timeline.user.name %></span> on <%= @timeline.created_at.in_time_zone('Lima').strftime("%d-%m-%Y a las %H:%M")%>
    </div>
    <div class="story-title">
      <h1><%= @timeline.title %></h1>
    </div>
    <div class="story-content">
      <p><%= simple_format(@timeline.content, {}, :sanitize => false)%></p>
    </div>
  </div>
  <div class="input-comment">
    <%= render 'comments/form_comment', comment: Comment.new(timeline: @timeline) %>
  </div>
  <% @timeline.comments.each do |comment| %>
  <div class="comment-entrie">
    <div class="comment-head">
      <%= comment.user.name %> <span style="font-weight:300; color: #555;"> - <%= comment.created_at.in_time_zone('Lima').strftime("%d-%m-%Y a las %H:%M")%> - </span><%= link_to 'Borrar', timeline_comment_path(@timeline, comment), method: :delete %>
    </div>
    <div class="comment-content">
      <%= comment.comment_content %>
    </div>
  </div>
  <% end %>
</div>

<div class="footer">
<%= link_to 'Edit', edit_timeline_path(@timeline) %> |
<%= link_to 'Back', timelines_path %>
</div>
