<p id="notice"><%= notice %></p>

<div class="entrie">
  <div class="entrie-head">
    <div class="time">Creado el <%= @timeline.created_at.in_time_zone('Lima').strftime("%d-%m-%Y a las %H:%M")%> por <%= @timeline.user.name %></div>
    <div class="title"><%= @timeline.title %></div>
  </div>
  <div class="entrie-content"><%= simple_format(@timeline.content, class: 'entrie-content') %></div>
</div>



<%= link_to 'Edit', edit_timeline_path(@timeline) %> |
<%= link_to 'Back', timelines_path %>
